# NODE MODULES

# Frontend node_modules
/frontend/node_modules

#Backend node_modules
/backend/node_modules

# npm logs
npm-debug.log*
yarn-error.log*

# BUILD OUTPUT / TEMPORARY FILES

#Frontend build artifacts
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/.angular/cache
/frontend/.sass-cache

#Bakend build
/backend/dist

# Coverage reports
/frontend/coverage
/backend/coverage

#Otros archivos temporales comunes
*.log
.cache/
tmp/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extension.json

# Otras carpetas temporales de editores
.history

#SYSTEM FILES
.DS_Store
Thumbs.db
